.nav
{
   height: 50px;
    background-color:#07484e;
    text-decoration: none;
    text-align: start;

}
.nav :link
{
    text-decoration: none;
    padding: 8px;
    margin: 10px;
  color: aliceblue;
  background-color: black;
  font-weight: bold;
  border-radius: 5px;
  font-family: monospace;
  text-align: center;
  display: inline-block;
 
}

.nav :link:hover
{
   
    background-color: rgb(255, 255, 255);
    color: #000;
}

.btn
{
    float: right;
    border-radius: 5px;
    font-family: monospace;
    padding: 8px;
    margin: 10px;
    color: wheat;
    background-color: rgb(92, 3, 3);
    display: inline-block;
    font-weight: bold;

}

.btn:hover
{
   

    color: rgb(0, 0, 0);
    background-color: rgb(255, 106, 106);
    display: inline-block;

}